<table>
    {{#each articles}}
    <tr>
        <td class="info" id={{this.row}}>
            <h6>
                <a href={{this.link}} target="_blank">{{this.title}}</a>
            </h6>
        </td>
        <td>
            <button class="delete" value={{this.row}}>
                Delete Article!
            </button>
        </td>
    </tr>
    {{/each}}
</table>